body{
    font-family: sans-serif;

}

table {
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid #030303;
}

table tr{
    background-color: rgb(223, 199, 230);
    border: 1px solid rgb(2, 2, 2);
    padding: 15px;
}

table th{
    padding: 10px;
    text-align: center;
}

table td{
    padding: 20px;
    text-align: center;
}